{% extends "fe_dashboard/_layout.html" %}
{% load static from staticfiles %}
{% load lecture_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/icons.css' %}">
{% endblock %}

{% block body_content %}
<h1 class="page-header">Dashboard [<small>{{request.user.first_name|title}} {{request.user.last_name|title}}</small>]</h1>
<div>
	<h2>LECTURES</h2>
</div>
<div class="row placeholders">
	{% for lecture in lectures %}
		{% lecture_avatar lecture %}
	{% endfor %}
</div>
{% endblock %}
